[submodule "submodules/slang-gaussian-rasterization"]
	path = submodules/slang-gaussian-rasterization
	url = https://github.com/chinmay0301ucsd/slang-gaussian-rasterization
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/hsiang0117/diff-gaussian-rasterization.git
	branch = dr_aa
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/fused-ssim"]
	path = submodules/fused-ssim
	url = https://github.com/rahul-goel/fused-ssim
[submodule "SIBR_viewers"]
	path = SIBR_viewers
	url = https://gitlab.inria.fr/sibr/sibr_core.git
